h1{
    color: salmon;
}
#fruits-title{
    color: black;
}
.important-places{
color: rgb(29, 120, 173);
}
li{
    color: rgb(244, 82, 203);

}
.large-text{
    font-size: 2em;
}
.text-center{
    text-align: center;
}
